.button {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  gap: var(--space-2);
  border-radius: 9999px;
  background-color: rgb(var(--fill-weak));
  padding-inline: var(--space-6);
  font-weight: 500;
  color: rgb(var(--text-strong));
  transition: transform var(--duration-fast) var(--ease-out-quad);
}

.button:active {
  transform: scale(0.97);
}

.holdOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  border-radius: 9999px;
  background-color: rgb(var(--fill-error-weak));
  color: rgb(var(--text-error));
  clip-path: inset(0px 100% 0px 0px);
  transition: clip-path var(--duration-fast) var(--ease-out-cubic);
}

.button:active .holdOverlay {
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 1.5s linear;
}
